<img src="/img/luoidien.jpeg" alt="Logo"width="100%" >
<h2>Tin tức</h2>

<div class = "tintuc">
    <div class="tintuc-chitiet">
        <h2>Thông cáo báo chí</h2>
        <img src="/img/thongcaobaochi.jpg" alt="thongcaobaochi"  >
        <p>Tình hình hoạt động quý I năm 2025</p>
    </div>

    <div class="tintuc-chitiet">
        <h2>An toàn điện</h2>
        <img src="/img/antoandien.jpg" alt="antoandien"  >
        <p>Hơn 500 học sinh được tuyên truyền về an toàn điện</p>
    </div>

    <div class="tintuc-chitiet">
        <h2>Tiết kiệm điện</h2>
        <img src="/img/tietkiemdien.jpg" alt="tietkiemdien"  >
        <p>PC Phú Yên đẩy mạnh tuyên truyền, vận động khách hàng sử dụng điện tiết kiệm</p>
    </div>
</div>